{% extends 'base.html' %}

{% block title %}ثبت نام{% endblock %}
{% block content %}
<div class="form-box">
    <h1 class="form-header">ساخت حساب کاربری</h1>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if 'Not Right' in message %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message|replace('Not Right: ', '') }}
    </div>
    {% elif 'Approve Email' in message %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message|replace('Approve Email: ', '') }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="post">
        <label for="username">نام کاربری:</label>
        <input type="text" name="username"/>
        <br>
        <label for="password">رمز عبور:</label>
        <input type="password" name="password"/>
        <br>
        <label for="confirm_password">تکرار رمز عبور:</label>
        <input type="password" name="confirm_password"/>
        <br>
        <br>
        <hr style="border-radius:20px; opacity: 1; width:70%; margin: 0 auto; height:5px; color:black; background-color:black">
        <br>
        <br>
        <button type="submit" class="btn-reg btn-info">ثبت نام</button>
        <br>
    </form>
</div>
{% endblock %}
